<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/fragments.html :: head"></head>
<body>
<nav th:replace="public/fragments.html :: nav"></nav>

<div class="hero-wrap hero-wrap-2" th:style="'background-image: url('+@{/assets/images/bg_1.jpg}+');'"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a href="/public/home">Trang chủ <i
                        class="ion-ios-arrow-forward"></i></a></span> đăng nhập<span></span></p>
                <h1 class="mb-3 bread">Đăng nhập / Đăng kí</h1>
            </div>
        </div>
    </div>
</div>

<div th:if="${msg_register_success}" class="toast" data-delay="2500"
     style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
    <script>
        swal({
            title: 'Đăng ký thành công!',
            /* text: 'Redirecting...', */
            icon: 'success',
            timer: 3000,
            buttons: true,
            type: 'success'
        })
    </script>
</div>

<div th:if="${msg_register_error}" class="toast" data-delay="2500"
     style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
    <script>
        swal({
            title: 'Đăng ký thất bại!',
            /* text: 'Redirecting...', */
            icon: 'error',
            timer: 3000,
            buttons: true,
            type: 'error'
        })
    </script>
</div>

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Đăng kí / đăng nhập</h1>
                <div class="custom-breadcrumbs">
                    <a href="/public/home">Trang chủ</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Đăng nhập</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="mb-4">Đăng kí</h2>
                <form th:action="@{/register}" th:object="${user}" method="POST" class="p-4 border rounded">
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Email"
                                   required>
                        </div>
                        <div th:if="${email_exists}">
                            <i>Email exists</i>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fullName">Họ và tên</label>
                            <input type="text" id="fullName" th:field="*{fullName}" class="form-control"
                                   placeholder="Họ và tên" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="password">Mật khẩu</label>
                            <input type="password" id="password" th:field="*{password}" class="form-control"
                                   placeholder="Mật khẩu" required>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Nhập lại mật khẩu</label>
                            <input type="password" id="fname" name="rePassword" class="form-control"
                                   placeholder="Nhập lại mật khẩu" required>
                        </div>
                        <div th:if="${msg_register_error}">
                            <i>Password is not equal</i>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Vai trò</label>
                            <select class="form-control" th:field="*{role.id}" aria-label="Default select example"
                                    required>
                                <option th:value="null" selected>Chọn vai trò</option>
                                <option th:value="1">Công ty</option>
                                <option th:value="2">Ứng cử viên</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Đăng kí" class="btn px-4 btn-primary text-white">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6">
                <h2 class="mb-4">Đăng nhập</h2>
                <form th:action="@{/authenticateTheUser}" method="POST" class="p-4 border rounded">
                    <div th:if="${param.error}">
                        <i>Invalid email/password Or Account has not been verified!</i>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="email2">Email</label>
                            <!-- field name have to be "username" for Spring Security to login -->
                            <input type="email" id="email2" name="username" class="form-control" placeholder="Email"
                                   required>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="password2">Mật khẩu</label>
                            <input type="password" id="password2" name="password" class="form-control"
                                   placeholder="Mật khẩu" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Đăng nhập" class="btn px-4 btn-primary text-white">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="public/fragments.html :: footer" ></footer>

</body>
</html>