<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="public/fragments.html :: head"></head>
<body>
<nav th:replace="public/fragments.html :: nav"></nav>

<div class="hero-wrap hero-wrap-2" th:style="'background-image: url('+@{/assets/images/bg_1.jpg}+');'"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 text-center mb-5">
                <h1 class="mb-3 bread">Hồ sơ </h1>
                <div class="form-group">
                    <form th:action="@{/user/upload-image}" method="post"
                          enctype="multipart/form-data">
                        <label class="btn btn-primary btn-md btn-file">
                            Chọn ảnh<input type="file" name="file" id="fileUpload" accept="image/*" required hidden>
                        </label>
                        <button type="submit" class="btn btn-primary">Upload image</button>
                    </form>
                </div>
                <div style="margin-left: 0px" id="divImage">
                    <img id="avatar" height="100" width="100" style="border-radius: 50px"
                         th:src="${userInformation.image != null ? userInformation.image : 'https://st.quantrimang.com/photos/image/072015/22/avatar.jpg'}">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- HOME -->

<!-- CANDIDATE -->
<section th:if="${userInformation.role.id == 2}" class="site-section"
         style="margin-top: 10px">
    <div class="container">
        <form th:action="@{/candidate/upload-cv}" method="post" enctype="multipart/form-data">
            <div class="row align-items-center mb-5">
                <div class="col-lg-8 ">
                    <div class="d-flex align-items-center">
                        <div class="form-group" style="margin-top: 15px">
                            <label class="btn btn-primary btn-md btn-file">
                                Chọn cv (pdf)<input type="file" name="file" id="fileUpload1" accept="application/pdf" required hidden>
                            </label>
                        </div>
                    </div>
                    <p th:if="${userInformation.cv == null}">Chưa cập nhập</p>
                    <a th:if="${userInformation.cv != null}"
                       th:href="@{'/uploads/cv/' + ${userInformation.cv.fileName}}">Xem cv</a>
                    <a style="color: red;margin-left: 20px" th:if="${userInformation.cv != null}" data-toggle="modal"
                       data-target="#exampleModal">Xóa cv</a>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" id="myBtn" class="btn btn-block btn-light btn-md">
                                <span class="icon-open_in_new mr-2"></span>Cập nhật cv
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form th:action="@{/user/update-profile}" method="post">
            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2>Cập nhật thông tin</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-primary btn-md">Lưu thông tin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="p-4 p-md-5 border rounded">
                        <h3 class="text-black mb-5 border-bottom pb-2">Thông tin chi tiết</h3>
                        <input type="hidden" name="id" th:value="${userInformation.id}">
                        <input type="hidden" name="password" th:value="${userInformation.password}">
                        <input type="hidden" name="status" th:value="${userInformation.status}">
                        <input type="hidden" name="role.id" th:value="${userInformation.role.id}">
                        <input type="hidden" name="image" th:value="${userInformation.image != null ? userInformation.image : 'https://st.quantrimang.com/photos/image/072015/22/avatar.jpg'}">
                        <div class="form-group">
                            <label for="email2">Email</label>
                            <input type="email" class="form-control" id="email2" name="email"
                                   th:value="${userInformation.email != null ? userInformation.email : null}" required
                                   placeholder="you@yourdomain.com">
                        </div>
                        <div class="form-group">
                            <label for="fullName2">Full name</label>
                            <input type="text" class="form-control" name="fullName"
                                   th:value="${userInformation.fullName != null ? userInformation.fullName : null}"
                                   required id="fullName2" placeholder="Full name">
                        </div>
                        <div class="form-group">
                            <label for="address3">Địa chỉ</label>
                            <input type="text" name="address"
                                   th:value="${userInformation.address != null ? userInformation.address : null}"
                                   class="form-control" id="address3" required placeholder="e.g. New York">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber3">Số điện thoại</label>
                            <input type="text" name="phoneNumber"
                                   th:value="${userInformation.phoneNumber != null ? userInformation.phoneNumber : null}"
                                   class="form-control" id="phoneNumber3" required placeholder="+ 84">
                        </div>
                        <div class="form-group">
                            <label for="description3">Mô tả bản thân</label>
                            <textarea name="description"
                                      th:text="${userInformation.description != null ? userInformation.description : null}"
                                      class="form-control" id="description3" placeholder="Mô tả"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Modal -->
<div th:if="${userInformation.cv != null}" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cv : <span th:text="${userInformation.cv.fileName}"></span>
                <form th:action="@{'/candidate/deleteCv/' + ${userInformation.cv.id}}" method="post">
                    <div class="modal-footer mt-1">
                        <input type="hidden" name="idCv">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EMPLOYER -->
<section th:if="${userInformation.role.id == 1}" class="site-section"
         style="margin-top: 10px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="mb-4">Thông tin cá nhân</h2>
                <form th:action="@{/user/update-profile}" th:object="${userInformation}" method="post">
                    <div class="row mb-5">
                        <div class="col-lg-12">
                            <div class="p-4 p-md-5 border rounded">
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{password}">
                                <input type="hidden" th:field="*{status}">
                                <input type="hidden" th:field="*{role.id}">
                                <input type="hidden" th:field="*{enabled}">
                                <input type="hidden" th:field="*{image}">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email"
                                           th:field="*{email}" required
                                           placeholder="you@yourdomain.com">
                                </div>
                                <div class="form-group">
                                    <label for="fullName">Họ và tên</label>
                                    <input type="text" class="form-control"
                                           th:field="*{fullName}" id="fullName" required
                                           placeholder="Full name">
                                </div>
                                <div class="form-group">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" th:field="*{address}"
                                           required class="form-control" id="address" placeholder="e.g. New York">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber">Số điện thoại</label>
                                    <input type="text" th:field="*{phoneNumber}"
                                           required class="form-control" id="phoneNumber" placeholder="+ 84">
                                </div>
                                <div class="form-group">
                                    <label for="description2">Mô tả bản thân</label>
                                    <textarea th:field="*{description}"
                                              class="form-control" id="description2" placeholder="Mô tả"></textarea>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="Lưu thông tin"
                                               class="btn px-4 btn-primary text-white">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Thông tin công ty</h2>
                <div class="form-group">
                    <label>Cập nhật Logo</label> <br>
                    <form th:action="@{/user/upload-logo}" method="post"
                          enctype="multipart/form-data">
                        <label class="btn btn-primary btn-md btn-file">
                            Chọn ảnh<input type="file" name="file" id="fileUpload2" accept="image/*" required hidden>
                        </label>
                        <button type="submit" class="btn btn-primary">Upload image</button>
                    </form>
                    <div id="divLogo">
                        <img id="avatar1" height="100" width="100" style="border-radius: 50px"
                             th:src="${companyInformation.logo != null ? companyInformation.logo : 'https://st.quantrimang.com/photos/image/072015/22/avatar.jpg'}">
                    </div>
                </div>
                <form th:action="@{/user/update-company}" method="post" enctype="multipart/form-data">
                    <div class="row mb-5">
                        <div class="col-lg-12">
                            <div class="p-4 p-md-5 border rounded">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" required id="email1" name="email"
                                           th:value="${companyInformation.email}"
                                           placeholder="you@yourdomain.com">
                                </div>
                                <div class="form-group">
                                    <label for="nameCompany">Tên công ty</label>
                                    <input type="text" class="form-control" name="nameCompany"
                                           th:value="${companyInformation.nameCompany}"
                                           id="nameCompany" placeholder="Company Name" required>
                                    <input type="hidden" name="user.id"
                                           th:value="${companyInformation.user != null ? companyInformation.user.id : userInformation.id}">
                                    <input type="hidden" name="id"
                                           th:value="${companyInformation.id}">
                                    <input type="hidden" name="status"
                                           th:value="${companyInformation.status}">
                                    <input type="hidden" name="logo"
                                           th:value="${companyInformation.logo}">
                                </div>
                                <div class="form-group">
                                    <label for="address2">Địa chỉ</label>
                                    <input type="text" name="address"
                                           th:value="${companyInformation.address}"
                                           required class="form-control" id="address2" placeholder="e.g. New York">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber2">Số điện thoại công ty</label>
                                    <input type="text" name="phoneNumber"
                                           th:value="${companyInformation.phoneNumber}"
                                           required class="form-control" id="phoneNumber2" placeholder="+ 84">
                                </div>
                                <div class="form-group">
                                    <label for="description">Mô tả công ty</label>
                                    <textarea name="description"
                                              th:text="${companyInformation.description}"
                                              class="form-control" id="description" placeholder="Mô tả"></textarea>
                                </div>

                                <div style="margin-left: 0px" id="divImag1" th:if="${companyInformation.logo != null}">
                                    <img id="avatar2" height="100" width="100"
                                         style="border-radius: 50px;margin-bottom: 15px"
                                         th:src="${companyInformation.logo}">
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="Lưu thông tin"
                                               class="btn px-4 btn-primary text-white">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="public/fragments.html :: footer" ></footer>

</body>
</html>