<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="public/fragments.html :: head"></head>

<body>
<nav th:replace="public/fragments.html :: nav"></nav>
<!-- END nav -->

<div class="hero-wrap hero-wrap-2" th:style="'background-image: url('+@{/assets/images/bg_1.jpg}+');'" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-12 text-center mb-5">
        <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> Cập nhập<span></span></p>
        <h1 class="mb-3 bread">Cập nhật bài tuyển dụng</h1>
      </div>
    </div>
  </div>
</div>

<div th:if="${success}" class="toast" data-delay="2500" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
  <div class="toast-header" style="background-color: #1c7430">
    <strong class="mr-auto" style="color: white">Thông báo</strong>
    <small style="color: white">Vừa xong</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true" style="color: white">&times;</span>
    </button>
  </div>
  <div class="toast-body" >
    <p th:text="'✅ ' +${success}"></p>
  </div>
  <script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
  </script>
</div>

<!--<div th:if="${msg_register_error}" class="toast" data-delay="2500" style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
    <div class="toast-header" style="background-color: red">

        <strong class="mr-auto" style="color: white">Thông báo</strong>
        <small style="color: white">Vừa xong</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true" style="color: white">&times;</span>
        </button>
    </div>
    <div class="toast-body" >
        <p th:text="'❌ ' +${msg_register_error}"></p>
    </div>
    <script>
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>
</div>-->

<!-- HOME -->

<section class="site-section">
  <div class="container">
    <form th:action="@{/employer/edit-recruitment}" method="post">
      <input type="hidden" class="form-control" name="id" th:value="${recruitment.id}">
      <input type="hidden" class="form-control" name="createdAt" th:value="${recruitment.createdAt}">
      <input type="hidden" class="form-control" name="status" th:value="${recruitment.status}">
      <input type="hidden" class="form-control" name="views" th:value="${recruitment.views}">
      <input type="hidden" class="form-control" name="company.id" th:value="${recruitment.company.id}">
      <div class="row align-items-center mb-5">
        <div class="col-lg-8 mb-4 mb-lg-0">
          <div class="d-flex align-items-center">
            <div>
              <a href="/user/list-post">Danh sách</a> <span class="mx-2 slash">/</span>
              <h2>Cập nhật bài đăng</h2>
            </div>
          </div>
        </div>
<!--        <div class="col-lg-4">-->
<!--          <div class="row">-->
<!--            <div class="col-6">-->
<!--              <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <a href="#" class="btn btn-block btn-primary btn-md">Đăng</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="row mb-5">
        <div class="col-lg-12">
          <div class="p-4 p-md-5 border rounded" method="post">
            <h3 class="text-black mb-5 border-bottom pb-2">Chi tiết bài tuyển dụng</h3>

            <div class="form-group">
              <label for="email">Tiêu đề</label>
              <input type="text" class="form-control" id="email" name="title"  required th:value="${recruitment.title}">
            </div>
            <div class="form-group">
              <label for="description">Mô tả công việc</label>
              <textarea  name="description"   class="form-control" id="description" th:text="${recruitment.description}"></textarea>
            </div>
            <div class="form-group">
              <label for="experience">Kinh nghiệm</label>
              <input type="text" class="form-control" id="experience" name="experience" th:value="${recruitment.experience}">
            </div>
            <div class="form-group">
              <label for="quantity">Số người cần tuyển</label>
              <input type="number" class="form-control" id="quantity" name="quantity" th:value="${recruitment.quantity}">
            </div>
            <div class="form-group">
              <label for="address">Địa chỉ</label>
              <input type="text" class="form-control" id="address"  name="address" th:value="${recruitment.address}">
            </div>
            <div class="form-group">
              <label for="deadline">Hạn ứng tuyển</label>
              <input type="date" class="form-control" id="deadline"  name="deadline" th:value="${recruitment.deadline}">
            </div>
            <div class="form-group">
              <label for="salary">Lương</label>
              <input type="text" class="form-control" id="salary"  name="salary" th:value="${recruitment.salary}">
            </div>

            <div class="form-group">
              <label>Loại công việc</label>
              <select class="form-control" name="type" aria-label="Default select example" required>
                <option th:value="${recruitment.type}" selected th:text="${recruitment.type}"></option>
                <option th:value="'PART TIME'">Part time</option>
                <option th:value="'FULL TIME'">Full time</option>
                <option th:value="'FREELANCER'">Freelancer</option>
              </select>

            </div>
            <div class="form-group">
              <label>Danh mục công việc</label>
              <select class="form-control" name="category.id" aria-label="Default select example" required>
                <option th:value="${recruitment.category.id}" selected th:text="${recruitment.category.name}"></option>
                <th:block th:each="category : ${categories}">
                  <option th:value="${category.id}" th:text="${category.name}"></option>
                </th:block>

              </select>

            </div>
          </div>
        </div>

      </div>
      <div class="row align-items-center mb-5">

        <div class="col-lg-4 ml-auto">
          <div class="row">
            <div class="col-6">
              <a href="#" class="btn btn-block btn-light btn-md"></a>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-block btn-primary btn-md">Cập nhật</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<footer th:replace="public/fragments.html :: footer" ></footer>

<script>
  ClassicEditor.create(document.querySelector('#editorN')).then(eidt => {
    console.log("da" + eidt);
  })
          .catch(error => {
            console.error(error);
          });
</script>

</body>
</html>