<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="public/fragments.html :: head"></head>

<body>
<nav th:replace="public/fragments.html :: nav"></nav>

<div class="hero-wrap hero-wrap-2" th:style="'background-image: url('+@{/assets/images/bg_1.jpg}+');'"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a th:href="@{/}">Trang chủ <i
                        class="ion-ios-arrow-forward"></i></a></span> Đăng bài<span></span></p>
                <h1 class="mb-3 bread">Đăng bài tuyển dụng</h1>
            </div>
        </div>
    </div>
</div>

<!--<div th:if="${msg_register_error}" class="toast" data-delay="2500" style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
    <div class="toast-header" style="background-color: red">

        <strong class="mr-auto" style="color: white">Thông báo</strong>
        <small style="color: white">Vừa xong</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true" style="color: white">&times;</span>
        </button>
    </div>
    <div class="toast-body" >
        <p th:text="'❌ ' +${msg_register_error}"></p>
    </div>
    <script>
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>
</div>-->

<!-- HOME -->

<section class="site-section">
    <div class="container">
        <form th:action="@{/employer/add-recruitment}" th:object="${recruitment}" method="post">
            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="breadcrumbs mb-0"><span class="mr-3"><a th:href="@{/}">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span></p>
                            <h2>Đăng bài</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="p-4 p-md-5 border rounded">
                        <h3 class="text-black mb-5 border-bottom pb-2">Chi tiết bài tuyển dụng</h3>
                        <div class="form-group">
                            <label for="title">Tiêu đề</label>
                            <input type="text" class="form-control" id="title" th:field="*{title}" required
                                   placeholder="Tiêu đề">
                        </div>
                        <div class="form-group">
                            <label for="description">Mô tả công việc</label>
                            <textarea class="form-control" id="description" th:field="*{description}"
                                      placeholder="Mô tả"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="experience">Kinh nghiệm</label>
                            <input type="text" class="form-control" id="experience" th:field="*{experience}"
                                   placeholder="Kinh nghiệm">
                        </div>
                        <div class="form-group">
                            <label for="quantity">Số người cần tuyển</label>
                            <input type="number" class="form-control" id="quantity" th:field="*{quantity}"
                                   placeholder="Số người cần tuyển">
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" th:field="*{address}"
                                   placeholder="Địa chỉ công ty">
                        </div>
                        <div class="form-group">
                            <label for="deadline">Hạn ứng tuyển</label>
                            <input type="date" class="form-control" id="deadline" th:field="*{deadline}"
                                   placeholder="Địa chỉ công ty">
                        </div>
                        <div class="form-group">
                            <label for="salary">Lương</label>
                            <input type="text" class="form-control" id="salary" th:field="*{salary}"
                                   placeholder="Mức lương">
                        </div>

                        <div class="form-group">
                            <label>Loại công việc</label>
                            <select class="form-control" th:field="*{type}" aria-label="Default select example" required>
                                <option th:value="null" selected>Chọn loại công việc</option>
                                <option th:value="'PART TIME'">Part time</option>
                                <option th:value="'FULL TIME'">Full time</option>
                                <option th:value="'FREELANCER'">Freelancer</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Danh mục công việc</label>
                            <select class="form-control" th:field="*{category.id}" aria-label="Default select example"
                                    required>
                                <option th:value="null" selected>Chọn danh mục công việc</option>
                                <th:block th:each="category : ${categories}">
                                    <option th:value="${category.id}" th:text="${category.name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row align-items-center mb-5">

                <div class="col-lg-4 ml-auto">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="btn btn-block btn-light btn-md"></a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-primary btn-md">Đăng tuyển</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<footer th:replace="public/fragments.html :: footer" ></footer>

<script>
    ClassicEditor.create(document.querySelector('#editorN')).then(eidt => {
        console.log("da" + eidt);
    })
        .catch(error => {
            console.error(error);
        });
</script>

</body>
</html>